/* font familly  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}



body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

:root {
    /* project color  */
    --color-primary-main: #20AD96;
    --bg-primary: #F5FEFC;
    --color-secondary-main: #263238;
    --color-dark-dark-2: #5D6568;
    --text-white: #fff;
    --color-dark-6: #E1E9ED;
}

/* header section start  */
.login-btn {
    color: var(--color-primary-main, #000000);
    background-color: transparent;
    border: 1px solid var(--color-primary-main);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 26px;
}

.register-btn {
    padding: 7px 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: var(--color-primary-main);
}

.register-btn:hover {
    background-color: var(--color-primary-main);

}

.register-btn:hover {
    color: rgb(255, 0, 0);
    border: 2px solid var(--color-primary-main);
}

.main-navbar {
    gap: 40px;
}

.main-navbar li a {
    text-decoration: none;
    color: var(--color-secondary-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.main-navbar li a:hover {
    color: var(--color-primary-main);
}

.menu-btn-wrapper {
    gap: 60px;
}

.navbar-wrapper {
    padding: 30px;
    background-color: var(--bg-primary);
}

/* header section end  */



/* main section start  */

.main-section-img {
    padding-left: 174px;
}

.main-section {
    background-color: var(--bg-primary);
    padding-bottom: 70px;

}

.left-col {
    width: 50%;
    position: relative;
    margin-top: 40px;
}



.left-info {
    margin-bottom: 30px;
}

.left-info h1 {
    margin-bottom: 30px;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.left-info p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.enroll-btn {
    color: var(--text-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background-color: var(--color-primary-main);
    padding: 15px 30px;
}

.enroll-btn:hover {
    background-color: var(--color-primary-main);

}

.Free-btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid var(--color-primary-main);
    padding: 15px 30px;
}

.Free-btn:hover {
    border: 1px solid var(--color-primary-main);
}

.right-col {
    position: relative;
    margin-top: 35px;
}

.profile-img-shape-1 {
    position: absolute;
    left: calc(28% - 16px);
    top: calc(30% - 48px);
}

.profile-img-shape-2 {
    position: absolute;
    top: calc(66% - 40px);
    left: 14%;
}

.profile-img-shape-3 {
    position: absolute;
    right: 0;
    top: calc(50% - 48px);
    left: 78%;
}

.mains-btn {
    margin-top: 40px;
}

/* main section end  */

/* edusmart section start  */
.edusmart {
    padding: 100px 0;
}

.edusmart-left-col h2 {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.edusmart-enroll {
    margin-top: 40px;
}

.bio-details h5 {
    margin-bottom: 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #263238;

}

.bio-details p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #5D6568;
}

.edusmart-left-col span {
    color: var(--color-primary-main);
}

.edusmart-left-col p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-top: 20px;
}

.expert h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.expert p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}


.expert img {
    width: 56px;
    height: 56px;
    margin: 20px;
}

.expert {
    padding: 30px;
    border-radius: 10px;
    border: 1px solid var(--color-dark-6);
    background: var(--color-white, #FFF);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.04);
    transition: all 100ms linear;
}

.expert:hover {
    border-color: var(--color-primary-main);
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-top-90 {
    margin-top: 90px;
}

/* edusmart section end  */

/* student section start  */
.top-col h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 20px;
}

.top-col p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--color-dark-dark-2);
}

.top-col span {
    color: var(--color-primary-main);
}

.separetor {
    width: 100%;
    height: 1px;
    background: #E0E0E0;
    margin: 46px 0 32px 0;

}

.total-student {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.total-student span {
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    color: var(--color-primary-main);
}

.total-student h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    color: #3F414E;
}

.student-grow {
    background-color: #F5FEFC;
    padding: 50px 0;
}

/* student section end  */

/* instructor area start  */
.instructor {
    padding: 100px 0;
}

.instructor-info h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
}

.instructor-bio p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--color-dark-dark-2);
}

.all-instructor h2 {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: black;
}

.all-instructor h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #6776FF;
}

.all-instructor h2 {
    padding: 25px 0px 15px 0px;
}

.all-instructor h4 {
    padding-bottom: 15px;
}

.all-instructor {
    border: 1px solid #E1E9ED;
    border-radius: 10px;
}

.card-gap {
    --bs-gutter-y: 1.5rem;
}

.ins-area {
    padding-bottom: 60px;
}

.instructor-info span {
    color: var(--color-primary-main);
}

.instructor-btn {
    padding-top: 60px;
}

/* instructor area end  */

/* course area start  */

.course {
    background-color: #F5FEFC;
    padding: 50px 0;
}

.course-info h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    padding-bottom: 20px;
}

.course-info p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
}

.bio-icon img {
    padding-right: 20px;
}

.bio-details {
    padding-bottom: 30px;
}

.course-info span {
    color: #20AD96;
}

/* course area end  */

/* member area start  */
.member {
    padding: 100px 0px;
}

.member-persons h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    padding-bottom: 20px;
}

.member-right p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.edu-mem {
    color: #20AD96;
}

/* member area end  */

/* free class area start  */


.free-class {
    padding: 100px 0px;
    background-image: url('../img/free-class-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.free-label {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;

}

.free-email {
    font-size: 18px;
    color: #000;
    padding: 15px 10px;
    border: none;
    outline: none;
    background-color: #fff;
    width: 100%;


}

.free-email ::placeholder {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.free-class-sub {
    padding-top: 40px;
}

.free-btn {
    color: #fff;
    padding: 15px 45px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #333333;
    cursor: pointer;
}

.free-btn .submit {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.free-btn:hover {
    background: #4769d7;
}

.free-class-heading h1 {
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    padding-bottom: 20px;
}

.free-class-heading p {
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* free class area start  */

.footer-section {
    padding: 100px 0 0 0;
}

.footer-contact img {
    padding-right: 10px;
}

.footer-contact {
    padding-top: 20px;
}

.footer-icon-bio img {
    padding-bottom: 30px;
}

..footer-icon-bio p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.footer-contact p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.about-us {
    list-style: none;
}

.about-us li {
    padding-bottom: 22px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.9px;
    color: #5D6568;
}

.about-us li a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.about-us li a:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #54b3d6;
    ;
}


.about-us .footer-heads {
    color: #263238;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

.footer-heads {
    padding: 40px 0 22px 0;

}

/* copyright sec start  */

.footer-copyright {

    padding: 25px 0px;
}

.social-icons img {
    padding-right: 15px;
}

.social-icons {
    margin-right: 30px;
}

.footer-copyright h5 {
    color: #5D6568;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.copy-section {
    background-color: #E4F5F2;
    margin-top: 50px;

}

.about-us li a {
    text-decoration: none;
    color: #5D6568;
}

/* copyright sec end  */