/* font familly  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}



body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

:root {
    /* project color  */
    --color-primary-main: #20AD96;
    --bg-primary: #F5FEFC;
    --color-secondary-main: #263238;
    --color-dark-dark-2: #5D6568;
    --text-white: #fff;
    --color-dark-6: #E1E9ED;
}

/* header section start  */
.login-btn {
    color: var(--color-primary-main, #000000);
    background-color: transparent;
    border: 1px solid var(--color-primary-main);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 26px;
}

.register-btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: var(--color-primary-main);
}

.register-btn:hover {
    background-color: var(--color-primary-main);

}

.register-btn:hover {
    color: rgb(255, 0, 0);
    border: 2px solid var(--color-primary-main);
}

.main-navbar li a {
    text-decoration: none;
    color: var(--color-secondary-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.main-navbar li a:hover {
    color: var(--color-primary-main);
}

.menu-btn-wrapper {
    gap: 60px;
}

.navbar-wrapper {
    padding: 30px;
    background-color: var(--bg-primary);
}

/* header section end  */



/* main section start  */
.main-section {
    background-color: var(--bg-primary);
    height: 661.59px;
}

.left-col {
    width: 50%;
    position: relative;
    margin-top: 40px;
}



.left-info {
    margin-bottom: 30px;
}

.left-info h1 {
    margin-bottom: 30px;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.left-info p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.enroll-btn {
    color: var(--text-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background-color: var(--color-primary-main);
    padding: 15px 30px;
}

.enroll-btn:hover {
    background-color: var(--color-primary-main);

}

.Free-btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid var(--color-primary-main);
    padding: 15px 30px;
}

.Free-btn:hover {
    border: 1px solid var(--color-primary-main);
}

.right-col {
    position: relative;
    margin-top: 70px;
}

.profile-img-shape-1 {
    position: absolute;
    left: calc(15% - 16px);
    top: calc(30% - 48px);
}

.profile-img-shape-2 {
    position: absolute;

    top: calc(66% - 40px);
}

.profile-img-shape-3 {
    position: absolute;
    right: 0;
    top: calc(50% - 48px);
}

.mains-btn {
    margin-top: 40px;
}

/* main section end  */

/* edusmart section start  */
.edusmart {
    padding: 100px 0;
}



.edusmart-left-col h2 {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
}

.edusmart-left-col span {
    color: var(--color-primary-main);
}

.edusmart-left-col p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.expert h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.expert p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}

.expert img {
    width: 56px;
    height: 56px;
    margin: 20px;
}

.expert {
    padding: 30px;
    border-radius: 10px;
    border: 1px solid var(--color-dark-6);
    background: var(--color-white, #FFF);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.04);
    transition: all 100ms linear;
}

.expert:hover {
    border-color: var(--color-primary-main);
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-top-90 {
    margin-top: 90px;
}

/* edusmart section end  */

/* student section start  */
.top-col h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 20px;
}

.top-col p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--color-dark-dark-2);
}

.top-col span {
    color: var(--color-primary-main);
}

.separetor {
    width: 100%;
    height: 1px;
    background: #E0E0E0;
    justify-content: center;
    margin: 46px 0 32px 0;

}

.total-student {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.total-student h1 {
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    color: var(--color-primary-main);
}

.total-student h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    color: #3F414E;
}

.student-grow {
    background-color: #F5FEFC;
    padding: 50px 0;
}

/* student section end  */

/* instructor area start  */
.instructor {
    padding: 100px 0;
}

.instructor-info h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
}

.instructor-bio p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--color-dark-dark-2);
}

.all-instructor h2 {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: black;
}

.all-instructor h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #6776FF;
}

.all-instructor h2 {
    padding: 25px 0px 15px 0px;
}

.all-instructor h4 {
    padding-bottom: 15px;
}

.all-instructor {
    border: 1px solid #E1E9ED;
    border-radius: 10px;
}

.card-gap {
    --bs-gutter-y: 1.5rem;
}

.ins-area {
    padding-bottom: 60px;
}

.instructor-info span {
    color: var(--color-primary-main);
}

.instructor-btn {
    padding-top: 60px;
}

/* instructor area end  */

/* course area start  */

.course {
    background-color: #F5FEFC;
    padding: 50px 0;
}

.course-info h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    padding-bottom: 20px;
}

.course-info p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
}

.bio-icon img {
    padding-right: 20px;
}

.bio-details {
    padding-bottom: 30px;
}

.course-info span {
    color: #20AD96;
}

/* course area end  */

/* member area start  */
.member {
    padding: 100px 0px;
}

.member-persons h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    padding-bottom: 20px;
}

.member-right p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.edu-mem {
    color: #20AD96;
}

/* member area end  */